<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> this is board page </h2>
<form>
  <fieldset>
  <label>
    <input type="text" name="bno" th:value="${boardDto.bno}" readonly>
  </label><br>
  <label>
    <input type="text" name="subject" th:value="${boardDto.subject}" readonly>
  </label><br>
  <label>
    <textarea name="content" th:value="${boardDto.content}"></textarea>
  </label><br>
  <button type="button" class="submitBtn">submit</button>
  <button type="button" class="modifyBtn">modify</button>
  <button type="button" class="removeBtn">remove</button>
  <button type="button" class="listBtn" th:onclick="|location.href='/board/list'|">list</button>
  </fieldset>
</form>
</body>
</html>