<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> this is board list page </h2>
<button onclick="location.href='/main'">Home</button>
<table border="1">
  <tr>
    <th>no</th>
    <th>Subject</th>
    <th>Author</th>
    <th>RegDate</th>
    <th>Views</th>
  </tr>
  <tr th:each="board : ${boardList}">
    <td th:text="${board.bno}"></td>
    <td ><a th:href="@{/board/read(bno=${board.bno})}" th:text="${board.subject}"></a></td>
    <td th:text="${board.author}"></td>
    <td th:text="${board.reg_date}"></td>
    <td th:text="${board.views}"></td>
  </tr>
</table>
<div>
  <th:block th:each="page : ${#numbers.sequence(paging.beginPage, paging.endPage)}">
    <a th:href="@{/board/list(page=${page}, pageSize=${paging.pageSize})}">
      <span  th:text="${page}"></span>
    </a>
  </th:block>
</div>
<button th:onclick="|loaction.href='/board/write'|">write</button>
</body>
</html>