<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> this is loginForm page </h2>
<form action="/login" method="post">
  <fieldset>
    <legend>Your Information</legend>
    <label>
      <input type="text" name="email" placeholder="Your E-Mail">
    </label>
    <label>
      <input type="password" name="password" placeholder="Your Password">
    </label>
    <p>Password Help? <a href="#">Click here</a></p>
    <p>Do you want to join us? <a href="/account/user">Come here!</a></p>
    <button type="submit">Sign in</button>
  </fieldset>
</form>
<a href="/main">Back to the main</a>
</body>
</html>