<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> this is register page !! </h2>
<form action="/account/user" method="post">
  <fieldset>
    <legend>Your Information</legend>
    <label>
      <input type="text" name="email" placeholder="Your E-Mail">
    </label>
    <label>
      <input type="text" name="confirmEmail" placeholder="Confirm E-Mail">
    </label>
    <label>
      <input type="password" name="password" placeholder="Your Password">
    </label>
    <label>
      <input type="password" name="confirmPassword" placeholder="Confirm Password">
    </label>
    <label>
      <input type="text" name="name" placeholder="Your name">
    </label>
    <label>
      <input type="text" name="phone" placeholder="Your Phone Number">
    </label>
  </fieldset>
  <button type="submit">Sign up</button>
  <a href="/login">Back to the sign in page</a>
</form>
</body>
</html>