<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> this is main page</h2>

<th:block th:unless="${#session != null && #session.getAttribute('isLogin') == true}">
    <button th:onclick="|location.href='/login'|">Sign in</button>
</th:block>
<th:block th:if="${#session != null && #session.getAttribute('isLogin') == true}">
    <button th:onclick="|location.href='/logout'|">Log out</button>
</th:block>
<button th:onclick="|location.href='/board/list'|">Board</button>
<a href="/index">back to the first page</a>
</body>
</html>